body {
    font-family: Times New Roman;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px
}

h1 {
    color: #000000;
    margin: 0;
}

form {
    max-width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 8px;
}

fieldset {
    border: none;
}

input[type="text"], 
input[type="password"] {
   
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
    font-size: 16px;
}

    input[type="text"]:focus, input[type="password"]:focus {
        border-color: #808080;
        outline: none;
    }

span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

button {
    background-color: #0094ff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    transition: background-color 0.3s;
}

    button:hover {
        background-color: #0056b3;
    }

